<a href="https://colab.research.google.com/github/DoyulPark/py_18/blob/master/ch5_exercises_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [0]:
# [Q1] Code  

class Calculator:
    def __init__(self):
        self.value = 0
 
    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator): #UpgradeCalculator 클래스 만들기
  def minus(self, val): #minus 메서드 추가
    self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력

3

In [0]:
#[Q1-1]Code

class UpgradeCalculator(Calculator):
  def minus(self,val):
    self.value -= val
    
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [0]:
# [Q2-1] Code

class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator): #MaxLimitCalculator 클래스 만들기
  def add(self, val):
    self.value += val
    if self.value > 100: 
      self.value = 100

cal = MaxLimitCalculator()
cal.add(50) 
cal.add(60) 
print(cal.value)

100

In [0]:
# [Q2-2] Code

class Calculator:
    def __init__(self, init_value=0):
        self.value = init_value

def add(self, val):
        self.value += val
        return self.value

class MaxLimitCalculator(Calculator):
  def add(self,val):
    self.value += val
    if self.value > 100:
      self.value = 100       

cal = MaxLimitCalculator()

cal.add(50)
cal.add(60)
print(cal.value)

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [0]:
# [Q3-1] Code
하나.
abs(-3)은 -3의 절댓값이므로 3이 되어 all([1,2,0])이 되고, 리스트 요솟값 중에 0이 있기 때문에 내장 함수 결과는 False가 된다

In [0]:
# [Q3-2] Code
둘.
ord는 문자의 아스키 코드 값을 돌려주는 함수이다 즉 ord('a')의 결과는 97이 되고 이를 다시 아스키 코드 값을 입력 받아 그 코드에 해당하는 문자를 출력한다 즉 a가 되므로 'a'=='a'이므로 True다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
# [Q4-1] Code
list(filter(lambda x:x>0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

In [0]:
# [Q4-2] Code

def postive(x):
  return x>0

print(list(filter(lambda x:x>0,[1, -2, 3, -5, 8, -3])))

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [0]:
# [Q5] Code
int('0xea',16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [0]:
# [Q6] Code
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
# [Q7-1] Code
a=[-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)

-1

In [0]:
# [Q7-2] Code

a = [-8, 2, 7, 5, -3, 5, 0, 1]
largest = a[0]
for i in a:
   if i > largest:
       largest = i

print("최댓값:", largest)

a = [-8, 2, 7, 5, -3, 5, 0, 1]
smallest = a[0]
for i in a:
   if i < smallest:
       smallest = i

print("최솟값:" , smallest)

print("최대값과 최솟값의 합:", largest+smallest)

최댓값: 7
최솟값: -8
최대값과 최솟값의 합: -1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
# [Q8-1] Code
round(17/3,4)

5.6667

In [0]:
# [Q8-2] Code

round(5.666666666666667,4)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9-1] Code


import sys

numbers = sys.argv[1:] 

result = 0
for number in numbers:
  result += int(number)
print(result)

ValueError: ignored

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

import os
os.chdir("c:/doit")

result = os.popen("dir")

print(result.read())

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [0]:
# [Q11] Code
import glob
glob.glob("c:/doit/*.py")

[]

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [0]:
# [Q12] Code

import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2019/11/24 12:59:50'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [0]:
# [Q13-1] Code
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)   # 1부터 45까지의 난수 발생
    if num not in result:
        result.append(num)

print(result)

[8, 42, 16, 41, 21, 35]

In [0]:
# [Q13-2] Code
import random

lotto = random.sample(range(1,46),6)

print(lotto)

[26, 1, 38, 19, 30, 36]

In [0]:
# [Q13-3] Code

import random

result = []
while len(result) < 6:
  num = random.randint(1,45)
  if num not in result:
    result.append(num)

print(result)

[40, 11, 20, 4, 5, 41]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb